<!doctype html>
<style>
html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	background: #222;
	font-family: monospace;
}

.terminal {
	border: 0;
	display: inline-block;
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, .75);
}

.controls {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	padding: 5px;
	background: rgba(128, 128, 128, .5);
}
</style>

<body>
<div class="controls">
	Viewers: <span id="viewers">0</span>
</div>
</body>

<script src="term.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="shellcast.js"></script>
